<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=  title  %>
    </title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>


    <ul class="menu">
        <li>
            <a href="/a1">Tesla</a>
        </li>
        <li>
            <a href="/a2">Toyota</a>
        </li>
        <li>
            <a href="/a3">Mercedes-Benz</a>
        </li>
        <li>
            <a href="/a4">BMW</a>
        </li>
        <li>
            <a href="/a5">Audi</a>
        </li>
        <li>
            <a href="/a6">Ford</a>
        </li>
        <li>
            <a href="/a7">Chevrolet</a>
        </li>
        <li>
            <a href="/a8">Honda</a>
        </li>
        <li>
            <a href="/a9">Nissan</a>
        </li>
        <li>
            <a href="/a10">Volkswagen</a>
        </li>
        <li>
            <a href="/a11">Porsche</a>
        </li>
        <li>
            <a href="/a12">Ferrari</a>
        </li>
        <li>
            <a href="/a13">Lamborghini</a>
        </li>
        <li>
            <a href="/a14">Land Rover</a>
        </li>
        <li>
            <a href="/a15">Jaguar</a>
        </li>
    </ul>

    <%- body %>

</body>

</html>