<h3>Audi</h3>
<p><strong>Asosiy Yo'nalish:</strong> Lüks va sport avtomobillar</p>
<p><strong>Asoschi:</strong> August Horch</p>
<p><strong>Mashhur Modellari:</strong> A3, A4, Q5, Q7, R8</p>
<p><strong>Xususiyatlar:</strong> Audi premium avtomobillarni ishlab chiqaradi, ilg'or texnologiyalar, lüks ichki qismlar va sportiv samaradorlikka e'tibor beradi. Quattro tizimi bilan mashhur.</p>
<img style="width: 500px;" src="image/audi.webp" alt="">