<h3>BMW</h3>
       
            <p><strong>Asosiy Yo'nalish:</strong> Lüks va sport avtomobillar</p>
            <p><strong>Asoschi:</strong> Franz Josef Popp</p>
            <p><strong>Mashhur Modellari:</strong> 3 Series, 5 Series, X5, X3, i8</p>
            <p><strong>Xususiyatlar:</strong> BMW sportiv va lüks avtomobillarni ishlab chiqaradi. Ular haydovchilik tajribasiga, ilg'or texnologiyalarga va yuqori sifatli materiallarga e'tibor beradi.</p>
            <img style="width: 500px;" src="image/bmw.webp" alt="">