<h3>Chevrolet</h3>
        <p><strong>Asosiy Yo'nalish:</strong> Turli avtomobillar (yuk mashinalari, sedanlar, SUVlar)</p>
        <p><strong>Asoschi:</strong> William C. Durant</p>
        <p><strong>Mashhur Modellari:</strong> Chevrolet Silverado, Jentra, Malibu, Traverse, Camaro</p>
        <p><strong>Xususiyatlar:</strong> Chevrolet ishonchli, arzon avtomobillarni ishlab chiqaradi, ayniqsa, yuk mashinalari va sport avtomobillari bilan tanilgan.</p>
        <img style="width: 500px;" src="image/jm.webp" alt="">