<h3>Ferrari</h3>
<p><strong>Asosiy Yo'nalish:</strong> Lüks va super-sport avtomobillar</p>
<p><strong>Asoschi:</strong> Enzo Ferrari</p>
<p><strong>Mashhur Modellari:</strong> Ferrari 488, 812 Superfast, LaFerrari</p>
<p><strong>Xususiyatlar:</strong> Ferrari yuqori samarali, lüks sport avtomobillarini ishlab chiqaradi. Ularning dizayni, tezligi va mahorati dunyo miqyosida mashhur.</p>
<img style="width: 500px;" src="image/ferrari.jfif" alt="">