<h3>Ford</h3>
<p><strong>Asosiy Yo'nalish:</strong> Turli avtomobillar (yuk mashinalari, sedanlar, SUVlar)</p>
<p><strong>Asoschi:</strong> Henry Ford</p>
<p><strong>Mashhur Modellari:</strong> Mustang, F-150, Explorer</p>
<p><strong>Xususiyatlar:</strong> Ford turli avtomobillarni ishlab chiqaradi, jumladan, mashhur Mustang va F-150 yuk mashinalarini. Ular chidamlilik va samaradorlikka e'tibor berishadi.</p>
<img style="width: 500px;" src="image/ford.webp" alt="">