<h3>Honda</h3>
<p><strong>Asosiy Yo'nalish:</strong> Kompakt avtomobillar va motocikllar</p>
<p><strong>Asoschi:</strong> Soichiro Honda</p>
<p><strong>Mashhur Modellari:</strong> Civic, Accord, CR-V</p>
<p><strong>Xususiyatlar:</strong> Honda yonilg'i samarali, ishonchli va arzon avtomobillarni ishlab chiqaradi. Shuningdek, ular uzoq muddat xizmat qiladigan motocikllar bilan ham mashhur.</p>
<img style="width: 500px;" src="image/honda.webp" alt="">