<h3>Mercedes-Benz</h3>
        <p><strong>Asosiy Yo'nalish:</strong> Lüks avtomobillar</p>
        <p><strong>Asoschi:</strong> Karl Benz</p>
        <p><strong>Mashhur Modellari:</strong> C-Class, E-Class, S-Class, GLC</p>
        <p><strong>Xususiyatlar:</strong> Mercedes-Benz lüks va yuqori samarali avtomobillarni ishlab chiqaradi, zamonaviy texnologiyalar, qulaylik va nafis dizaynni taklif etadi.</p>
        <img style="width: 500px;" src="image/mers.webp" alt="">