<h3>Nissan</h3>
<p><strong>Asosiy Yo'nalish:</strong> O'rta darajali va lüks avtomobillar</p>
<p><strong>Asoschi:</strong> Yoshisuke Aikawa</p>
<p><strong>Mashhur Modellari:</strong> Altima, Maxima, Rogue, Leaf (elektrik)</p>
<p><strong>Xususiyatlar:</strong> Nissan turli avtomobillarni ishlab chiqaradi, shu jumladan, byudjetga mos va lüks sedannlar ham. Nissan Leaf dunyodagi eng mashhur elektr avtomobillardan biridir.</p>
<img style="width: 500px;" src="image/nissan.webp" alt="">