<h3>Porsche</h3>
        <p><strong>Asosiy Yo'nalish:</strong> Sport va lüks avtomobillar</p>
        <p><strong>Asoschi:</strong> Ferdinand Porsche</p>
        <p><strong>Mashhur Modellari:</strong> 911, Cayenne, Macan, Taycan</p>
        <p><strong>Xususiyatlar:</strong> Porsche yuqori samarali sport avtomobillarini ishlab chiqaradi. 911 modeli juda mashhur bo'lib, Taycan esa Porsche'ning elektr avtomobillar bozoriga kirishi hisoblanadi.</p>
        <img style="width: 500px;" src="image/porsch.webp" alt="">