<h3>Tesla</h3>
     
            <p><strong>Asosiy Yo'nalish:</strong> Elektr avtomobillar</p>
            <p><strong>Asoschi:</strong> Elon Musk</p>
            <p><strong>Mashhur Modellari:</strong> Model S, Model 3, Model X, Model Y</p>
            <p><strong>Xususiyatlar:</strong> Tesla elektromobil (EV) sanoatiga inqilob kiritgan. Ular ilg'or texnologiyalar, uzoq masofa va avtomatik haydash imkoniyatlarini taklif etadi.</p>
      
            <img style="width: 500px;" src="image/tesla.webp" alt="">
