<h3>Toyota</h3>
   
            <p><strong>Asosiy Yo'nalish:</strong> Turli avtomobillar (sedanlar, SUVlar, yuk mashinalari)</p>
            <p><strong>Asoschi:</strong> Kiichiro Toyoda</p>
            <p><strong>Mashhur Modellari:</strong> Corolla, Camry, Land Cruiser, Prius</p>
            <p><strong>Xususiyatlar:</strong> Toyota dunyoning eng yirik avtomobil ishlab chiqaruvchilaridan biri bo'lib, ishonchli, yonilg'i samarali va uzoq muddat xizmat qiladigan avtomobillarni ishlab chiqaradi.</p>
            <img style="width: 500px;" src="image/tayota.webp" alt="">