<h3>Volkswagen</h3>
<p><strong>Asosiy Yo'nalish:</strong> Kompakt va o'rta kattalikdagi avtomobillar</p>
<p><strong>Asoschi:</strong> Ferdinand Porsche</p>
<p><strong>Mashhur Modellari:</strong> Golf, Passat, Tiguan, Jetta</p>
<p><strong>Xususiyatlar:</strong> Volkswagen ishonchli va yaxshi muhandislikka ega avtomobillarni ishlab chiqaradi. Ular samarali dizayn va kuchli ishlashga e'tibor beradi.</p>
<img style="width: 500px;" src="image/wolkswagen.webp" alt="">